*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    height: 15vh;
    width: 100vw;
    margin: auto;
    padding: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: red;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#container{
    height: 30vh;
    width: 100vw;
    /* border: 2px solid red; */
}
