*{
   margin: 0px;
   box-sizing: border-box;
   padding: 0;
}
#navbar{
    width: 98%;
    margin: auto;
    /* height: 2; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#navbar>div:nth-child(1){
    width: 20%;
    text-align: center;
}
#navbar>div:nth-child(1) img{
    width: 30px;

}
#navbar>div:nth-child(2){
    width: 50%;
    text-align: center;
}
#navbar>div:nth-child(2) img{
    width: 15%;
}
#navbar>div:nth-child(3){
    width: 30%;
    height: 70px;
}
#navbar >div:nth-last-child(1){
    display: flex;
justify-content: space-between;
}
#navbar >div:nth-last-child(1) img{
    width: 10%;
}
#navbar >div:nth-last-child(1) p{
    /* border: 2px solid red; */
    margin-right: 60px;
    width: 60%;
    text-align: center;
    padding-top: 23px;
    background-color: rgb(255, 0, 76);
    color: white;
}
#navbar >div:nth-last-child(1) p:hover{
    background-color:blue;
}

* {
    box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.zero{
    width: 900px;
    margin: auto;
    box-sizing: border-box;
}
.zero img{
    width: 100%;
}
.one{
    width: 900px;
    margin: auto;
    box-sizing: border-box;
}
.one img{
    width: 100%;
}
.two{
    height: 100vh;
    width: 98vw;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid red;
    display: flex;
}
.two>.two1 img{
    width: 50%;
    margin: auto;
    
}
